@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #E5E7E9;
  border-bottom: 1px solid #000000; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: none;
    align-items: none; }
    header nav div {
      margin-left: 25px; }
      header nav div img {
        width: 100px; }
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: none;
      flex-direction: none;
      align-items: center;
      gap: 50px;
      margin-right: 25px; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          text-decoration: none;
          color: #000000;
          font-size: 18px;
          font-family: 'Righteous', cursive; }
          header nav ul li a:hover {
            text-decoration: underline; }
          header nav ul li a:active {
            color: #ffffff; }

main .description {
  background-color: #D5DBDB;
  display: grid;
  grid-template-areas: "img" "p";
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: none; }
  main .description .yo img {
    margin-top: 130px;
    width: 400px;
    border-radius: 700px;
    grid-area: img; }
  main .description .yo p {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    grid-area: p;
    margin-bottom: 120px;
    padding: 10px;
    margin-top: 20px; }

main section {
  background-color: #E5E7E9; }
  main section .sobre-mi {
    text-align: center;
    display: grid;
    grid-template-areas: "h2" "pp";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 30px; }
    main section .sobre-mi h2 {
      margin-top: 100px;
      font-size: 35px;
      font-family: 'Cantarell', sans-serif;
      grid-area: h2; }
    main section .sobre-mi p {
      font-family: 'Wix Madefor Display', sans-serif;
      font-size: 20px;
      grid-area: pp;
      margin-bottom: 100px; }
  main section .conocimientos {
    background-color: #E5E7E9;
    padding-bottom: 100px;
    display: grid;
    grid-template-areas: "h2 h2 h2 h2 h2 h2 h2" "html css sass git js react angular";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 50px; }
    main section .conocimientos h2 {
      font-size: 35px;
      font-family: 'Cantarell', sans-serif;
      grid-area: h2; }
    main section .conocimientos .section-html {
      grid-area: html; }
      main section .conocimientos .section-html img {
        width: 70px; }
    main section .conocimientos .section-css {
      grid-area: css; }
      main section .conocimientos .section-css img {
        width: 70px; }
    main section .conocimientos .section-sass {
      grid-area: sass; }
      main section .conocimientos .section-sass img {
        width: 70px; }
    main section .conocimientos .section-git {
      grid-area: git; }
      main section .conocimientos .section-git img {
        width: 70px; }
    main section .conocimientos .section-js {
      grid-area: js; }
      main section .conocimientos .section-js img {
        width: 70px; }
    main section .conocimientos .section-react {
      grid-area: react; }
      main section .conocimientos .section-react img {
        width: 70px; }
    main section .conocimientos .section-angular {
      grid-area: angular; }
      main section .conocimientos .section-angular img {
        width: 70px; }

main .proyectos {
  text-align: center;
  background-color: #D5DBDB;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 70px; }
  main .proyectos h2 {
    font-size: 35px;
    font-family: 'Cantarell', sans-serif;
    margin-top: 100px; }
  main .proyectos .proyectos-grid {
    display: grid;
    grid-template-areas: "div port";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 70px;
    margin-bottom: 120px; }
    main .proyectos .proyectos-grid .div-1 {
      grid-area: div; }
      main .proyectos .proyectos-grid .div-1 h3 {
        font-size: 20px;
        font-family: 'Cantarell', sans-serif; }
      main .proyectos .proyectos-grid .div-1 .img-1 {
        padding: 30px; }
        main .proyectos .proyectos-grid .div-1 .img-1 img {
          width: 400px; }
      main .proyectos .proyectos-grid .div-1 a {
        text-decoration: none;
        padding: 10px;
        font-family: 'Wix Madefor Display', sans-serif;
        color: #000000; }
        main .proyectos .proyectos-grid .div-1 a:hover {
          text-decoration: underline; }
    main .proyectos .proyectos-grid .portfolio {
      grid-area: port; }
      main .proyectos .proyectos-grid .portfolio h3 {
        font-size: 20px;
        font-family: 'Cantarell', sans-serif; }
      main .proyectos .proyectos-grid .portfolio .img-2 {
        padding: 30px; }
        main .proyectos .proyectos-grid .portfolio .img-2 img {
          width: 400px; }
      main .proyectos .proyectos-grid .portfolio a {
        text-decoration: none;
        padding: 10px;
        font-family: 'Wix Madefor Display', sans-serif;
        color: #000000; }
        main .proyectos .proyectos-grid .portfolio a:hover {
          text-decoration: underline; }

footer {
  text-align: center;
  background-color: #E5E7E9;
  border-top: 1px solid #000000; }
  footer h3 {
    margin: 100px;
    line-height: 1;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: 'Cantarell', sans-serif; }
  footer .logos-footer {
    display: grid;
    grid-template-areas: "gh gm lk";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 70px; }
    footer .logos-footer .github {
      grid-area: gh; }
      footer .logos-footer .github a img {
        width: 50px; }
    footer .logos-footer .gmail {
      grid-area: gm; }
      footer .logos-footer .gmail a img {
        width: 50px; }
    footer .logos-footer .linkedin {
      grid-area: lk; }
      footer .logos-footer .linkedin a img {
        width: 50px; }
  footer p {
    padding: 100px;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 15px; }

@media (max-width: 900px) {
  /*-----------------*/
  /*----- MAIN -----*/
  /*---------------*/
  main section .sobre-mi p {
    padding: 25px; }
  main section .conocimientos {
    display: grid;
    grid-template-areas: "h2 h2" "html css" "sass git" "js react" "angular angular";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 50px; }
  main .proyectos .proyectos-grid {
    display: grid;
    grid-template-areas: "div div" "port port";
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 70px; } }
