@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #E5E7E9;
  border-bottom: 1px solid #000000; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: none;
    align-items: none; }
    header nav div {
      margin-left: 25px; }
      header nav div img {
        width: 100px; }
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: none;
      flex-direction: none;
      align-items: center;
      gap: 50px;
      margin-right: 25px; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          text-decoration: none;
          color: #000000;
          font-size: 18px;
          font-family: 'Righteous', cursive; }
          header nav ul li a:hover {
            text-decoration: underline; }

main .description {
  text-align: center;
  background-color: #D5DBDB;
  display: grid;
  grid-template-areas: "img" "p";
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: none; }
  main .description .yo img {
    margin-top: 130px;
    width: 400px;
    border-radius: 700px;
    grid-area: img; }
  main .description .yo p {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    grid-area: p;
    margin-bottom: 120px;
    padding: 10px;
    margin-top: 20px; }

main .sobre-mi {
  text-align: center;
  background-color: #E5E7E9;
  display: grid;
  grid-template-areas: "h2" "pp";
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 30px; }
  main .sobre-mi h2 {
    margin-top: 100px;
    font-size: 35px;
    font-family: 'Cantarell', sans-serif;
    grid-area: h2; }
  main .sobre-mi p {
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
    grid-area: pp;
    margin-bottom: 100px; }
