@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/tipografia";

@import "./base/reset";

@import "./layout/header";

@import "./layout/main";

@import "./layout/footer";

@import "./layout/mediaQ/media-900";
@import "./layout/mediaQ/media-768";
@import "layout/mediaQ/media-600";
@import "layout/mediaQ/media-700";
@import "layout/mediaQ/media-400";
@import "./layout/mediaQ/media-320";