@import "./utilities/variables";
@import "./utilities/mixins";
@import "./base/tipografia";

@import "./base/reset";

@import "./layout/header";

@import "./layout/main";

@import "./layout/footer";

@import "./layout/mediaQ/media-900";
@import "./layout/mediaQ/media-320";