header {
    background-color: $color;
    border-bottom: 1px solid $color2;

    nav {
        @include flex(wrap, space-between, none, none);

        div {
            margin-left: 25px;

            img {
                width: 100px;
            }
        }

        ul {
            @include flex(wrap, none, none, center);
            gap: 50px;
            margin-right: 25px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $color2;
                    font-size: 18px;
                    font-family: 'Righteous', cursive;;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}