main {
    .description {
        text-align: center;
        background-color: $color;
        @include grid("img img img img" "p p p p", center, center, center,none);

        .yo {

            img {
                margin-top: 130px;
                width: 400px;
                border-radius: 700px;
                grid-area: img;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: p;
                margin-bottom: 120px;
                padding: 10px;
                margin-top: 20px;
            }
        }
    }

    .sobre-mi {
        text-align: center;
        background-color: $color3;
        @include grid("h2 h2 h2 h2" "pp pp pp pp", center, center, center,none);

        h2 {
            font-size: 30px;
            font-family: 'Cantarell', sans-serif;
            grid-area: h2;
        }

        p {
            font-family: 'Wix Madefor Display', sans-serif;
            font-size: 20px;
            grid-area: pp;
        }
    }
}