main {
    .description {
        text-align: center;
        background-color: $color;
        @include grid("img" "p", center, center, center, none);

        .yo {

            img {
                margin-top: 130px;
                width: 400px;
                border-radius: 700px;
                grid-area: img;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: p;
                margin-bottom: 120px;
                padding: 10px;
                margin-top: 20px;
            }
        }
    }

    section {
        text-align: center;
        background-color: $color3;

        .sobre-mi {
            @include grid("h2" "pp", center, center, center, 30px);

            h2 {
                margin-top: 100px;
                font-size: 35px;
                font-family: 'Cantarell', sans-serif;
                grid-area: h2;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: pp;
                margin-bottom: 100px;
            }
        }

        .conocimientos {
            background-color: $color3;
            text-align: center;
            @include flex (wrap, center, column, center);
            gap: 70px;

            h2 {
                font-size: 35px;
                font-family: 'Cantarell', sans-serif;
            }

            .grid {
                @include grid("html css js react angular sass git", center, center, center, 50px);

                div {
                    margin-bottom: 100px;

                    img {
                        width: 70px;

                    }

                    .html {
                        grid-area: html;
                    }

                    .css {
                        grid-area: css;
                    }

                    .js {
                        grid-area: js;
                    }

                    .react {
                        grid-area: react;
                    }

                    .angular {
                        grid-area: angular;
                    }

                    .sass {
                        grid-area: sass;
                    }

                    .git {
                        grid-area: git;
                    }
                }
            }
        }
    }

    .proyectos {
        text-align: center;
        background-color: $color;
        @include flex (wrap, center, column, center);
        gap: 70px;

        h2 {
            font-size: 35px;
            font-family: 'Cantarell', sans-serif;
            margin-top: 100px;
        }

        //seguir desde aca
        .proyectos-grid {
            @include grid("cr port", center, center, center, 50px);
            margin-bottom: 100px;

            .cr {
                grid-area: cr;

                h3 {
                    font-size: 20px;
                    font-family: 'Cantarell', sans-serif;
                }

                .img-cr {   
                    margin: 15px;

                    img {
                        width: 500px;
                    }
                }
            }

            .portfolio {
                grid-area: port;
            }

        }
    }
}