main {
    .description {
        background-color: $color;
        @include grid("img" "p", center, center, center, none);

        .yo {

            img {
                margin-top: 130px;
                width: 400px;
                border-radius: 700px;
                grid-area: img;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: p;
                margin-bottom: 120px;
                padding: 10px;
                margin-top: 20px;
            }
        }
    }

    section {
        background-color: $color3;

        .sobre-mi {
            @include grid("h2" "pp", center, center, center, 30px);

            h2 {
                margin-top: 100px;
                font-size: 35px;
                font-family: 'Cantarell', sans-serif;
                grid-area: h2;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: pp;
                margin-bottom: 100px;
            }
        }

        .conocimientos {
            background-color: $color3;
            text-align: center;
            @include flex (wrap, center, column, center);
            @include grid("h2 h2 h2 h2 h2 h2 h2" "html" "css" "js" "react" "angular" "sass" "git", center, center, center, 50px);
            gap: 70px;

            h2 {
                font-size: 35px;
                font-family: 'Cantarell', sans-serif;
                grid-area: h2;
            }

            div {
                margin-bottom: 100px;

                img {
                    width: 70px;

                }

                .html {
                    grid-area: html;
                }

                .css {
                    grid-area: css;
                }

                .js {
                    grid-area: js;
                }

                .react {
                    grid-area: react;
                }

                .angular {
                    grid-area: angular;
                }

                .sass {
                    grid-area: sass;
                }

                .git {
                    grid-area: git;
                }
            }
        }
    }
}

.proyectos {
    text-align: center;
    background-color: $color;
    @include flex (wrap, center, column, center);
    gap: 70px;

    h2 {
        font-size: 35px;
        font-family: 'Cantarell', sans-serif;
        margin-top: 100px;
    }

    .proyectos-grid {
        @include grid("div port", center, center, center, 70px);
        margin-bottom: 120px;

        .div-1 {
            grid-area: div;

            h3 {
                font-size: 20px;
                font-family: 'Cantarell', sans-serif;
            }

            .img-1 {
                padding: 30px;

                img {
                    width: 400px;
                }
            }

            a {
                text-decoration: none;
                padding: 10px;
                font-family: 'Wix Madefor Display', sans-serif;
                color: $color2;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .portfolio {
            grid-area: port;

            h3 {
                font-size: 20px;
                font-family: 'Cantarell', sans-serif;
            }

            .img-2 {
                padding: 30px;

                img {
                    width: 400px
                }
            }

            a {
                text-decoration: none;
                padding: 10px;
                font-family: 'Wix Madefor Display', sans-serif;
                color: $color2;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}