main {
    .description {
        background-color: $color;
        @include grid("img" "p", center, center, center, none);

        .yo {

            img {
                margin-top: 130px;
                width: 400px;
                border-radius: 700px;
                grid-area: img;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: p;
                margin: 20px 0 120px 0;
                text-align: center;
            }
        }
    }

    section {
        background-color: $color3;

        .sobre-mi {
            text-align: center;
            @include grid("h2" "pp", center, center, center, 35px);

            h2 {
                margin-top: 100px;
                font-size: 35px;
                font-family: 'Cantarell', sans-serif;
                grid-area: h2;
            }

            p {
                font-family: 'Wix Madefor Display', sans-serif;
                font-size: 20px;
                grid-area: pp;
                margin-bottom: 100px;
                width: 1000px;
            }
        }

        .conocimientos {
            background-color: $color3;
            padding-bottom: 100px;
            @include grid("h2 h2 h2 h2 h2 h2 h2" "html css sass git js react angular", center, center, center, 50px);

            h2 {
                font-size: 35px;
                font-family: 'Cantarell', sans-serif;
                grid-area: h2;
            }

            .section-html {
                grid-area: html;

                img {
                    width: 70px;
                }
            }

            .section-css {
                grid-area: css;

                img {
                    width: 70px;
                }
            }

            .section-sass {
                grid-area: sass;

                img {
                    width: 70px;
                }
            }

            .section-git {
                grid-area: git;

                img {
                    width: 70px;
                }
            }

            .section-js {
                grid-area: js;

                img {
                    width: 70px;
                }
            }

            .section-react {
                grid-area: react;

                img {
                    width: 70px;
                }
            }

            .section-angular {
                grid-area: angular;

                img {
                    width: 70px;
                }
            }
        }
    }

    .proyectos {
        text-align: center;
        background-color: $color;
        @include flex (wrap, center, column, center);
        gap: 70px;

        h2 {
            font-size: 35px;
            font-family: 'Cantarell', sans-serif;
            margin-top: 100px;
        }

        .proyectos-grid {
            @include grid("div port", center, center, center, 70px);
            margin-bottom: 120px;

            .div-1 {
                grid-area: div;

                h3 {
                    font-size: 20px;
                    font-family: 'Cantarell', sans-serif;
                }

                .img-1 {
                    padding: 30px;

                    img {
                        width: 400px;
                    }
                }

                a {
                    text-decoration: none;
                    padding: 10px;
                    font-family: 'Wix Madefor Display', sans-serif;
                    color: $color2;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .portfolio {
                grid-area: port;

                h3 {
                    font-size: 20px;
                    font-family: 'Cantarell', sans-serif;
                }

                .img-2 {
                    padding: 30px;

                    img {
                        width: 400px;
                        height: 225px;
                    }
                }

                a {
                    text-decoration: none;
                    padding: 10px;
                    font-family: 'Wix Madefor Display', sans-serif;
                    color: $color2;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}