@media (max-width: 1024px) {

    main {

        .description {

            .yo {

                img {
                    padding: 5px;
                }
            }
        }

        section {

            .sobre-mi {

                p {
                    padding: 25px;
                    width: 800px;
                    padding: 0;
                }
            }

            .conocimientos {
                @include grid("h2 h2" "html css" "sass git" "js react" "angular angular", center, center, center, 50px);

            }
        }

        .proyectos {

            .proyectos-grid {
                @include grid("div port" "quiz .", center, center, center, 70px);
            }
        }
    }
}