@media (max-width: 768px) {

    main {

        .description {

            .yo {

                img {
                    width: 350px;
                }

                p {
                    padding: 5px;
                }
            }
        }

        section {

            .sobre-mi {

                p {
                    width: 700px;
                }
            }
        }

        .proyectos {

            .proyectos-grid {

                .cr {

                    .img-1 {

                        img {
                            width: 293px;
                        }
                    }
                }

                .portfolio {

                    .img-2 {

                        img {
                            width: 293px;
                            height: 165px;
                        }
                    }
                }
            }
        }
    }
}