@media (max-width: 768px) {

    main {
        .description {

            .yo {

                img {
                    width: 350px;
                }
            }
        }

        section {

            .sobre-mi {

                p {
                    width: 700px;
                }
            }
        }
    }
}