@media (max-width: 900px) {

    /*-----------------*/
    /*----- MAIN -----*/
    /*---------------*/
    main {
        section {

            .sobre-mi {

                p {
                    padding: 25px;
                }
            }

            .conocimientos {
                @include grid("h2 h2" "html css" "sass git" "js react" "angular angular", center, center, center, 50px);

            }
        }

        .proyectos{
            .proyectos-grid{
                @include grid("div div" "port port", center, center, center, 70px);
            }
        }
    }
}