@media (max-width: 426px) {

    /*-------*/
    /*HEADER*/
    /*-----*/

    header {

        nav {
            @include flex(wrap, center, column, center);

            div {
                margin: 0;

                img {
                    width: 90px;
                }
            }

            ul {
                @include flex(wrap, center, none, center);
                margin: 0;
                padding: 10px;

                li {

                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    /*===============================================*/

    /*-----*/
    /*MAIN*/
    /*---*/

    main {

        .description {

            .yo {

                img {
                    width: 300px;
                }

                p {
                    font-size: 18px;
                }
            }
        }

        section {

            .sobre-mi {

                h2 {
                    font-size: 30px;
                }

                p {
                    width: 400px;
                }
            }

            .conocimientos {
                @include grid("h2" "html" "css" "sass" "git" "js" "react" "angular", center, center, center, 50px);

                h2 {
                    font-size: 30px;
                }
            }
        }

        .proyectos {

            h2 {
                font-size: 30px;
            }

            .proyectos-grid {

                .div-1 {

                    h3 {
                        font-size: 17px;
                    }

                    .img-1 {

                        img {
                            width: 350px;
                        }
                    }
                }

                .portfolio {

                    h3 {
                        font-size: 17px;
                    }

                    .img-2 {

                        img {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }

    /*===============================================*/

    /*-------*/
    /*FOOTER*/
    /*-----*/

    footer {

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 13px;
        }
    }
}