@media (max-width: 900px) {

    /*-----------------*/
    /*----- MAIN -----*/
    /*---------------*/
    main {
        section {

            .sobre-mi {

                p {
                    padding: 10px;
                }
            }

        }
    }
}